.nav_hidden_by_normal_size img {
    width: 100%;
}
.burger_menu_not_hidden {
    display: none;
}
.overlay_burger {
    display: none;
}
.d-none {
    display: none !important;
}
@media(max-width:1400px){
    .header-img-mobile {
        width: 350px;
        height: 100px;
    }
    .header {
        padding-right: 70px;
        padding-left: 70px;
    }
}
@media(max-width:1200px) {
    .header {
        padding-right: 70px;
        padding-left: 70px;
    }
    .header-img-mobile {
        width: 300px;
        height: 100px;
    }
    .new-recipe-container {
        padding-left: 150px;
        padding-right: 150px;
        justify-content: space-around;
    }
    .footer-row {
        padding-left: 170px;
        padding-right: 170px;
    }
}

@media(max-width: 1000px) {
    .header {
        padding-left: 50px;
        padding-right: 50px;
    }
    .header-img-mobile {
        width: 350px;
        height: 100px;
    }
    .navigation-bar {
        display: none;
    }
    .burger_menu {
        display: flex;
        position: absolute;
        top: 0;
        right: 24px;
    }
    .footer-row {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }
    .footer_mobile {
        display: flex;
    }
    .nav_hidden_by_normal_size {
        position: absolute;
        top: 0;
        right: 0px;
    }
    .nav_hidden_by_normal_size img {
        width: 50px;
        height: 50px;
    }
    .overlay_burger {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 150px;
        background-color: rgb(245, 164, 77);
        padding: 12px;
        border-radius: 16px;
        font-size: 25px;
        text-decoration: none;
    }
    .overlay_burger a {
        text-decoration: none;
        color: white;
    }
    .daily-recipe {
        padding-left: 150px;
        padding-right: 150px;
        flex-direction: column;
    }
    .daily-recipe img {
        height: unset;
        margin-bottom: 30px;
    }
    .inspiring-recipe-segment {
        padding-bottom: 30px;
    }
    .new-recipe-container {
        flex-direction: column;
    }
}

@media(max-width: 820px) {
    .header {
        padding-right: 45px;
        padding-left: 45px;
    }
    .header-img-mobile {
        width: 280px;
        height: 95px;
    }
    .burger_menu {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
    .privacy-policy{
        margin: 130px;
    }
    .privacy-policy h1{
        font-size: 30px;
    }
    .recipe-continer{
        padding-left: 150px;
        padding-right: 150px;
    }
    .recipe-infobar{
        padding-left: 150px;
        padding-right: 150px;
    }
    .recipe-continer img{
        width: 300px;
        height: 200px;
    }
    .prepare-container{
        padding-left: 150px;
        padding-right: 150px;
    }
    .profile-header{
        padding-left: 150px;
    }
    .profile-name{
        padding-left: 150px;
    }
    .nutrition{
        padding-left: 150px;
        padding-right: 150px;
    }
    .button-container{
        flex-direction: column;
        align-items: center;
    }
    .button-container input{
        width: 150px;
        margin-bottom: 10px;
    } 
}
@media(max-width: 620px) {
    .header {
        padding-left: 40px;
    }
    .header-img-mobile {
        width: 275px;
        height: 95px;
    }
    .compare-segment {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 130px;
        padding-right: 130px;
    }
    .new-recipe-container {
        padding-left: 130px;
        padding-right: 130px;
    }
    .compare-container {
        flex-direction: column;
        align-items: center;
    }
    .recipe p {
        display: flex;
    }
    .recipe {
        margin-left: 0px;
        align-items: center;
    }
    .last-img {
        margin-left: 0px;
    }
    .daily-recipe {
        padding-left: 130px;
        padding-right: 130px;
    }
    .contact-form form {
        align-items: center;
        width: 400px;
    }
    .contact-form input {
        width: 400px;
        height: 50px;
    }
    .contact-form textarea {
        width: 400px;
        height: 180px;
    }
    .call hr {
        width: 150px;
    }
    .privacy-policy h1{
        font-size: 27px;
    }
    .successfully-sent h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }
    .recipe-continer{
        padding-left: 100px;
        padding-right: 100px;
    }
    .recipe-infobar{
        padding-left: 100px;
        padding-right: 100px;
    }
    .recipe-continer img{
        width: 250px;
        height: 200px;
    }
    .prepare-container{
        padding-left: 100px;
        padding-right: 100px;
    }
    .profile-header{
        padding-left: 100px;
    }
    .profile-name{
        padding-left: 100px;
    }
    .nutrition{
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 24px;
        margin-bottom: 24px;
        flex-direction: column;
    }
    .line-setup{
        margin-top: 16px;
    }
    .button-container{
        flex-direction: column;
        align-items: center;
    }
    .button-container input{
        width: 150px;
        margin-bottom: 10px;
    }
}
@media(max-width: 520px) {
    .header {
        padding-left: 35px;
    }
    .daily-recipe {
        padding-left: 80px;
        padding-right: 80px;
    }
    .new-recipe-container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .nav_hidden_by_normal_size img {
        width: 40px;
        height: 40px;
    }
    .compare-segment {
        padding-left: 80px;
        padding-right: 80px;
    }
    .footer-row img {
        height: 50px;
    }
    .overlay_burger {
        width: 250px;
        height: 140px;
    }
    .contact-form form {
        align-items: center;
        width: 300px;
    }
    .contact-form input {
        width: 300px;
        height: 50px;
    }
    .contact-form textarea {
        width: 300px;
        height: 180px;
    }
    .horizontal-line {
        gap: 8px;
    }
    .call hr {
        width: 120px;
    }
    .privacy-policy h1{
        font-size: 24px;
    }
    .successfully-sent h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }
    .recipe-continer{
        padding-left: 80px;
        padding-right: 80px;
    }
    .recipe-infobar{
        padding-left: 80px;
        padding-right: 80px;
    }
    .recipe-continer img{
        width: 200px;
        height: 150px;
    }
    .prepare-container{
        padding-left: 80px;
        padding-right: 80px;
    }
    .profile-header{
        padding-left: 80px;
    }
    .profile-name{
        padding-left: 80px;
    }
    .nutrition{
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 24px;
        margin-bottom: 24px;
        flex-direction: column;
    }
    .line-setup{
        margin-top: 16px;
    }
    .button-container{
        flex-direction: column;
        align-items: center;
    }
    .button-container input{
        width: 150px;
        margin-bottom: 10px;
    }
    .table-segment{
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media(max-width: 400px) {
    .header {
        padding-left: 24px;
    }
    .recipe a {
        margin-top: 0px;
        width: 130px;
        border-radius: 8px;
    }
    .daily-recipe {
        padding-left: 30px;
        padding-right: 30px;
    }
    .new-recipe-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .compare-segment {
        padding-left: 30px;
        padding-right: 30px;
    }
    .overlay_burger {
        width: 250px;
        height: 140px;
    }
    .privacy-policy{
        margin: 30px;
    }
    .privacy-policy h1{
        font-size: 20px;
    }
    .privacy-policy h2{
        word-break: break-all;
    }
    .successfully-sent h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }
    .recipe-continer{
        padding-left: 30px;
        padding-right: 30px;
    }
    .recipe-infobar{
        padding-left: 30px;
        padding-right: 30px;
    }
    .recipe-continer img{
        width: 200px;
        height: 150px;
    }
    .prepare-container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .profile-header{
        padding-left: 30px;
    }
    .profile-name{
        padding-left: 30px;
    }
    .nutrition{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 24px;
        margin-bottom: 24px;
        flex-direction: column;
    }
    .line-setup{
        margin-top: 16px;
    }
    .button-container{
        flex-direction: column;
        align-items: center;
    }
    .button-container input{
        width: 150px;
        margin-bottom: 10px;
    }
    .ingredients-list{
        flex-direction: column;
    }
    .table-segment{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media(max-width: 340px) {
    .header-img-mobile {
        width: 240px;
        height: 80px;
    }
    .overlay_burger {
        width: 250px;
        height: 140px;
    }
    .privacy-policy{
        margin: 16px;
    }
    .privacy-policy h1{
        font-size: 18px;
    }
    .successfully-sent h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }
    .recipe-continer{
        padding-left: 30px;
        padding-right: 30px;
    }
    .recipe-infobar{
        padding-left: 30px;
        padding-right: 30px;
    }
    .recipe-continer img{
        width: 200px;
        height: 150px;
    }
    .prepare-container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .profile-header{
        padding-left: 30px;
    }
    .profile-name{
        padding-left: 30px;
    }
    .nutrition{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 24px;
        margin-bottom: 24px;
        flex-direction: column;
    }
    .line-setup{
        margin-top: 16px;
    }
    .button-container{
        flex-direction: column;
        align-items: center;
    }
    .button-container input{
        width: 150px;
        margin-bottom: 10px;
    }
    .table-segment{
        margin-left: 30px;
        margin-right: 30px;
    }
}