.background_start {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_image {
  border-radius: 16px;
  margin: 40px;
}

.nav_hidden_by_normal_size img {
  width: 100%;
}

.header-content {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.header-content p {
  font-size: 2em;
  margin-bottom: 48px;
}

.header-content h1 {
  font-size: 4em;
}

.daily_recipe_button:hover {
  background-color: rgb(218, 129, 33);
}

.cooks_section {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.cooks_profile {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.cooks_profile_box {
  max-width: 220px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_picture {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 16px;
  margin-left: 16px;
}

.text_center {
  text-align: center;
}

.text_gray {
  color: #777777;
}

.text_center h3 {
  justify-content: center;
}

.burger_menu_not_hidden {
  display: none;
}

.overlay_burger {
  display: none;
}

.d-none {
  display: none !important;
}
