<footer class="footer footer-mobile-view">
    <div class="footer-row-left footer-row-left-mobile-view footer-row">
        <img class="footer-logo-mobile" src="img/logo-white.png" alt="">
        <div class="social-media social-media-mobile">
            <a title="Hier geht es zu unserem YouTubekanal." href="#"><img class="social-media-icon" src="img/youtube-48.png" alt=""></a>
            <a title="Hier geht es zu unserem Instagramaccount. " href="#"><img class="social-media-icon" src="img/instagram-48.png" alt=""></a>
            <a title="Hier geht es zu unserer Facebookseite. " href="#"><img class="social-media-icon" src="img/facebook-48.png" alt=""></a>
            <a title="Hier geht es zu unserem Twitteraccount. " href="#"><img class="social-media-icon" src="img/twitter-48.png" alt=""></a>
        </div>
    </div>

    <div class="footer-row-right footer-row-right-mobile-view footer-row">
        © Kochwelt 2023 Alle Rechte vorbehalten.
        <div class="footer_mobile">
            <a title="Hier findest du unsere Datenschutzbestimmungen." class="obligatory-links" href="datenschutz.html">Datenschutz</a>|
            <a title="Hier findest du unser Impressum." class="obligatory-links" href="impressum.html">Impressum</a>
        </div>
    </div>
</footer>