<div class="header">
    <a href="start.html"><img class="header-img-mobile" src="img/logo.png" alt=""></a>
    <nav class="navigation-bar navigation-bar-mobile">
        <a class="hide-navbar-mobile" href="start.html"><b>Start</b></a>
        <a class="hide-navbar-mobile" class="active" href="daily_recipe.html"><b>Rezept des Tages</b></a>
        <a class="hide-navbar-mobile" href="contact.html"><b>Kontakt</b></a>
        <a class="hide-navbar-mobile" href="impressum.html"><b>Impressum</b></a>
    </nav>
</div>
<div class="nav_hidden_by_normal_size">
    <img onclick="burger_menu()" class="burger_menu burger_menu_not_hidden" src="img/menu.png">
    <div id="menu" class="overlay_burger d-none">
        <a title="Hier geht es zur Startseite." href="start.html"><b>Start</b></a>
        <a title="Hier geht es zum Rezept des Tages." href="daily_recipe.html"><b>Rezept des Tages</b></a>
        <a title="Hier kannst du uns kontaktieren." href="contact.html"><b>Kontakt</b></a>
        <a title="Hier geht es zum Impressum" href="impressum.html"><b>Impressum</b></a> 
    </div>
</div>